

h1{
	background-image:url(https://upload.wikimedia.org/wikipedia/commons/8/87/Color_square_cm.gif);
	color:white;

	
}

body{
	background-color:brown;
}

p{
	font-weight:bold;
	font-size:x-large;
}

main{
	padding: 15px;
}

code{
	font-family:"Lucida Console, Courier, monospace";
}

.flex-box {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

aside p{
	font-size: small;
	width: 150px;
}

aside {
	border: solid;
	width:150px;
	color: white;
	background-image: url("stars.jpg");
	padding: 10px;
	vertical-align: middle;
}


nav {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: large;
}



nav a{
	color: white;
	align: center;
	font-size: large;
}

nav a:visited{
	color: yellow;
}
nav a:hover{
	color: lime;
}


header{
	font-size: 48px;
	background-color: black;
	color: white;
}


footer {
	background-color: black;
	color: white;
	padding: 5px;
}

aside img{
	max-width: 150px;
}


aside a{
	color: red;
}

a:hover{
	color: lime;
}



